/* Original CSS by WiBla */

/* keyframes */

@keyframes fadein {
	from {opacity: 0;}
	to   {opacity: 1;}
}

/*########## [chat] ##########*/

#chat-header {
	background: rgba(30,35,40,.7);
	border: none !important;
}
#chat-messages {
	border-color: #555;
	box-shadow: 0 51px 0 rgba(30,35,40,.7);
}
#chat-messages::-webkit-scrollbar,
.dropdown dd::-webkit-scrollbar,
#woot-rs-list::-webkit-scrollbar,
#grab-rs-list::-webkit-scrollbar,
#meh-rs-list::-webkit-scrollbar,
.dialog::-webkit-scrollbar {
	width: 7px !important;
	box-shadow: inset -1px 0 7px hsla(0,0%,0%,.7);
}
#chat-messages::-webkit-scrollbar-thumb,
.dropdown dd::-webkit-scrollbar-thumb,
#woot-rs-list::-webkit-scrollbar-thumb,
#grab-rs-list::-webkit-scrollbar-thumb,
#meh-rs-list::-webkit-scrollbar-thumb,
.dialog::-webkit-thumb,
.jspDrag {
	background: linear-gradient(to right, hsl(210,10%,50%), hsl(210,10%,20%));
	box-shadow: inset 1px 0 7px hsla(0,0%,100%,.5);
	border-radius: 5px;
}
.jspTrack { box-shadow: inset -1px 0 10px hsla(0,0%,20%,1); }
.app-right #chat-input,
#dashboard .search,
#search-bar,
#filter-bar,
#user-friends .search,
.app-right .friends .list-header .input-background {
	border-radius: 20px;
	background: linear-gradient(to top, hsla(220,100%,15%,.7), hsla(220,100%,10%,.7));
}
.focused {
	color: #EEE !important;
	box-shadow: inset 0 0 0 1px #05F !important;
	background: linear-gradient(to top, hsl(220,100%,30%), hsl(220,100%,20%)) !important;
}
#chat-input-field {
	color: #888 !important;
	font-weight: bold;
}
#chat-input.focused #chat-input-field{
	color: #EEE !important;
}

/*### [message] ###*/

#chat .cm {
	animation: fadein .2s;
}
#chat .cm {
	background: linear-gradient(hsla(220,10%,20%,.5), hsla(220,10%,15%,.5));
	box-shadow: inset 1px 1px 0 hsla(220,10%,20%,.8);
}
#chat .cm.message:nth-child(odd) {
	background: linear-gradient(hsla(220,10%,10%,.5), hsla(220,10%,12%,.5));
	box-shadow: inset 1px 1px 0 hsla(220,10%,5%,.8);
	color: #ccc;
}
#chat .cm.message .timestamp {
	color: #818285;
}
#chat .cm .badge-box {
	background: transparent !important;
}
#chat .cm .delete-button {
	border-radius: 4px;
	background: linear-gradient(hsl(0,0%,30%), hsl(0,0%,40%));
	box-shadow: inset 0 0 0 1px hsl(0,0%,50%);
}
#chat .cm .delete-button:hover {
	background: linear-gradient(hsl(5,100%,60%), hsl(5,100%,50%));
	box-shadow: 0 0 10px hsl(5,100%,50%);
	color: #000;
}

/*#####[YOU]#####*/

/*#chat .cm .msg .from.you .un {
	color: #0bf !important;
} */

/*#####[BA]#####*/

.icon-chat-ambassador + span {
	color: #9C0 !important;
}

/*#####[HOST]#####*/

.icon-chat-host {
	background: url(https://i.imgur.com/Hm8kCDL.png);
	background-position: center !important;
}
.icon-chat-host + span,
#user-lists .group.host ~ .user span,
#dialog-user-role .role-menu .menu ul .host span {
	color: #ffd700 !important;
}
#user-lists .group.host {
	color: #ffd700;
	background: linear-gradient(to right, hsla(52, 100%, 40%, 0.5), hsla(52, 100%, 50%, 0.5)) !important;
	top: 1px;
}

/*#####[CO-HOSTS]#####*/

.icon-chat-cohost {
	background: url(https://i.imgur.com/Hm8kCDL.png);
	background-position: center !important;
}
.icon-chat-cohost + span,
#dialog-user-role .dialog-body .role-menu .menu ul .cohost span {
	color: #ffd700 !important;
}

/*#####[MANAGER]#####*/

.icon-chat-manager {
	background: url(https://i.imgur.com/SCkLxHj.png);
	background-position: center !important;
}
.icon-chat-manager + span,
#user-lists .group.manager ~ .user span,
#dialog-user-role .role-menu .menu ul .manager span {
	color: #008000 !important;
}
#user-lists .group.manager {
	color: #008000;
	background: linear-gradient(to right, hsla(140, 100%, 30%, 0.3), hsla(140, 100%, 40%, 0.3)) !important;
}

/*#####[BOUNCER]#####*/

.icon-chat-bouncer {
	background: url(https://i.imgur.com/YUKVqO2.png);
	background-position: center !important;
}
.icon-chat-bouncer + span,
#user-lists .group.bouncer ~ .user span,
#dialog-user-role .role-menu .menu ul .bouncer span {
	color: #ff0000 !important;
}
#user-lists .group.bouncer {
	color: #ff0000;
	background: linear-gradient(to right, hsla(0,100%,20%,.5), hsla(0,100%,30%,.5)) !important;
}

/*#####[DJ]#####*/

.icon-chat-dj {
	background: url(https://i.imgur.com/axKg19I.png);
	background-position: center !important;
}
.icon-chat-dj + span,
#user-lists .group.dj ~ .user span,
#dialog-user-role .role-menu .menu ul .dj span {
	color: #5E5EFF !important;
}
#user-lists .group.dj {
	color: #5E5EFF;
	background: linear-gradient(to right, hsla(217, 100%, 40%, 0.5), hsla(217, 100%, 50%, 0.5)) !important;
}

/*#####[SUBS]#####*/

.icon-chat-subscriber,
#user-rollover .meta.subscriber .status i {
	background: url(https://i.imgur.com/zIbImv1.png);
	background-position: center !important;
}
.icon-chat-silver-subscriber,
#user-rollover .meta.subscriber.silver .status i {
	background: url(https://i.imgur.com/AHDikC9.png);
	background-position: center !important;
}
.icon-chat-subscriber + span {
	color: #D4AF37 !important;
}
.icon-chat-silver-subscriber + span {
    color: #D4D4D4 !important;

/*--[welcome & log]--*/

#chat .cm.welcome {
	color: hsl(210,80%,60%);
	box-shadow: inset 0 0 0 1px hsl(210,50%,30%);
}
#chat .log {
	background: linear-gradient(hsla(220,30%,20%,.8), hsla(220,30%,15%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 -1px 1px hsla(220,30%,10%,.8);
}
.cm strong {color: #fff !important;}
.cm em {color: #999 !important;}

/*--[moderation]--*/

#chat .cm.moderation {
	background: linear-gradient(hsla(260,50%,25%,.8), hsla(260,50%,15%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(260,50%,50%);
	border: none !important;
}
#chat .cm.moderation .timestamp {
	color: hsl(260,70%,70%);
}

/*--[user-action]--*/

#chat .cm.user-action {
	background: linear-gradient(hsla(60,100%,20%,.8), hsla(60,100%,10%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.1);
}
#chat .cm.user-action .msg .from .un, #chat .cm.user-action .timestamp {
	color: hsl(60,90%,70%) !important;
}

/*--[MENTION]--*/

#chat .cm.mention {
	background: linear-gradient(hsla(77,100%,20%,.8), hsla(77,100%,11%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(77,100%,30%);
	border: none !important;
}
#chat .cm.mention .name, #chat .cm.mention .timestamp {
	color: hsl(77,100%,40%);
}
#chat .cm.mention .msg .from .un {
	color: hsl(77,100%,50%);
}
#chat .cm.mention.is-subscriber {
	background: linear-gradient(hsla(40,100%,30%,.8), hsla(40,100%,20%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(30,50%,50%);
}
#chat .cm.mention.is-subscriber .name, #chat .cm.mention.is-subscriber .timestamp, #user-rollover .meta.subscriber .status span {
	color: hsl(40,100%,60%);
}
#chat .cm.mention.is-dj {
	background: linear-gradient(hsla(20,100%,30%,.8), hsla(20,100%,20%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(20,50%,50%);
}
#chat .cm.mention.is-dj .name, #chat .cm.mention.is-dj .timestamp {
	color: hsl(20,100%,60%);
}
#chat .cm.mention.is-bouncer {
	background: linear-gradient(hsla(354,100%,20%,.8), hsla(354,100%,10%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(354,50%,50%);
}
#chat .cm.mention.is-bouncer .name, #chat .cm.mention.is-bouncer .timestamp {
	color: #F45;
}
#chat .cm.mention.is-manager {
	background: linear-gradient(hsla(350,85%,20%,.8), hsla(350,85%,10%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(350,50%,50%);
}
#chat .cm.mention.is-manager .name, #chat .cm.mention.is-manager .timestamp {
	color: #E15;
}
#chat .cm.mention.is-cohost {
	background: linear-gradient(hsla(210,100%,30%,.8), hsla(210,100%,20%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(210,50%,50%);
}
#chat .cm.mention.is-cohost .name, #chat .cm.mention.is-cohost .timestamp {
	color: hsl(210,100%,50%);
}
#chat .cm.mention.is-host {
	background: linear-gradient(hsla(200,100%,30%,.8), hsla(200,100%,20%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(200,50%,50%);
}
#chat .cm.mention.is-host .name, #chat .cm.mention.is-host .timestamp {
	color: hsl(200,100%,50%);
}
#chat .cm.mention .msg {
	
	/*fix RCS*/
	
	background: none !important;
}

/*--[BOT]--*/

#chat .cm.emote {
	background: linear-gradient(hsla(219,100%,20%,.8), hsla(219,100%,10%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	border-left: none !important;
	text-align: left;
	box-shadow: inset 0 0 0 1px hsla(220,100%,50%,.5);
	border: none !important;
}
#chat .cm.emote .un, #chat .cm.emote .timestamp {
	color: hsl(210,100%,60%) !important;
}
#chat .cm.emote i {
	display: inline !important;
}
#chat .cm.emote .text {
	font-style: normal;
}

/***************/
/*NAME STYLINGS*/
/***************/

/*Randomas*/
[data-cid^="6110426"].cm .msg .from .un, #user-lists .list .role-user.id-6110426 .name {
  color: rgba(22, 196, 228, 1) !important;
}
/*Akira Luna*/
[data-cid^="4652147"].cm .msg .from .un, #user-lists .list .role-manager.id-4652147 .name {
  color: rgba(244, 0, 188, 1) !important;
}
/*--[badges and accessories]--*/

/***STAFF***/

/*patoxoro*/
#chat-messages .id-4343261 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/DQRVRkY.png') !important;
  background-size: cover;
  background-position: center;
}
/**Kamilyt**/
#chat-messages .id-17528147 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/7sD6krW.png') !important;
  background-size: cover;
background-position: center;
}
/**Gerdutė**/
/*#chat-messages .id-3579906 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/wKvKa43.png')!important;
  background-size: cover;
} */
/**Power-Of-Mad**/
#chat-messages .id-3525229 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/VeS2Fyq.gif') !important;
  background-size: cover;
}
/**-Marčius.*/
#chat-messages .id-17826818 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/R0vuFu6.png') !important;
  background-size: cover;
  background-position: center;
}
/**Rimve**/
#chat-messages .id-4206645 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/FZWUxiW.jpg') !important;
  background-size: cover;
}
/**-VelnioSąžinė**/
#chat-messages .id-3529452 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/KL7sI5N.png') !important;
  background-size: cover;
}
/**Lietuvos Botas**/
#chat-messages .id-4634516 .badge-box i.bdg {
  background-image: url('http://i.imgur.com/nFr0EBq.png') !important;
  background-size: cover;
}
/**MR.Ruthless**/
#chat-messages .id-3896066 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/o47RXle.png') !important;
  background-size: cover;
}
/**GGGirtuoklisss**/
#chat-messages .id-4030669 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/sKyCsVp.jpg') !important;
  background-size: cover;
}
/**-Vabaliukas_Ul**/
/*#chat-messages .id-3857513 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/v0vuYIc.png') !important;
  background-size: cover;
} */

/**TBPS**/
#chat-messages .id-4105132 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/pEqwtkQ.jpg') !important;
  background-size: cover;
}
/**Hollywood_Star**/
#chat-messages .id-13445492 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/Yjq0OS6.jpg') !important;
  background-size: cover;
}
/**-Santa`**/
/*#chat-messages .id-3992792 .badge-box i.bdg {
  background-image: url('http://i.imgur.com/zLc4lsV.jpg')!important;
  background-size: cover;
} */
/**-Pandou**/
#chat-messages .id-4281529 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/NFBglvh.png')!important;
  background-size: cover;
}
/**MrEdgaras*/
#chat-messages .id-3419951 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/XhtRJpl.png') !important;
  background-size: cover;
}
/**Akira**/
#chat-messages .id-4652147 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/ywJNMoc.png') !important;
  background-size: cover;
  background-position: center;
}
/**Dok_sausainyyy-**/
#chat-messages .id-4458073 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/ASbqvll.png') !important;
  background-size: cover;
  background-position: center;
}
/**Inoichi**/
#chat-messages .id-3706288 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/W0nuqcO.jpg') !important;
  background-size: cover;
  background-position: center;
}
/**Plytaa**/
/*#chat-messages .id-5035147 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/nQBcAFK.jpg') !important;
  background-size: cover;
}
/**-ElectroHouse**/
#chat-messages .id-4002022 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/hktu5ew.png') !important;
  background-size: cover;
  background-position: center;
}
/* Puukjeens */ 
#chat-messages .id-4734845 .badge-box i.bdg { 
background-image: url('https://i.imgur.com/XZL81yp.jpg');
background-size: cover;
background-position: center;
}
/*DJNeringa*/ 
#chat-messages .id-13997445 .badge-box i.bdg { 
background-image: url('https://i.imgur.com/kEuxOUc.png');
background-size: cover;
}
/***NON STAFF***/
/**EdvinasK20**/
#chat-messages .id-14001764 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/ht4k46L.gif') !important;
  background-size: cover;
}
/**Randomas**/
#chat-messages .id-6110426 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/j8wGUtf.gif') !important;
  background-size: cover;
}
/**Filbertas**/
#chat-messages .id-13474152 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/guPJRn6.jpg') !important;
  background-size: cover;
}
/**-sherif**/
#chat-messages .id-3611882 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/R86eFt3.jpg') !important;
  background-size: cover;
}
#chat-messages .fromID-22029396 .badge-box i,
#chat-messages .id-22029396 .badge-box i {
    background-image: url(https://i.imgur.com/iO17yNG.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
/**-Vyšnia**/
/*#chat-messages .id-5928547 .badge-box i.bdg {
  background-image: url('https://apps.ubuntu.com/site_media/icons/2013/06/_usr_share_icons_hicolor_scalable_apps_cherrytree.png') !important;
  background-size: cover;
}
/*Justelis*/
/*#chat-messages .id-3645209 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/oZLlCSj.png') !important;
  background-size: cover;
}
/**Labai piktas slibinas**/
/*#chat-messages .id-4117028 .badge-box i.bdg {
  background-image: url('http://i116.photobucket.com/albums/o29/Alarna16/drug.gif') !important;
  background-size: cover;
background-position: center;
}
/**Chuckorris**/
/*#chat-messages .id-13186343 .badge-box i.bdg {
  background-image: url('https://i.imgur.com/suVtM76.jpg') !important;
  background-size: cover;
}

/**♫Black&WhiteTiger♫ **/
/*#chat-messages .id-14001764 .badge-box i.bdg {
  background-image: url('') !important;
  background-size: cover;
}
.id-3680307 .meta .username:after {
		content: "\A" url('https://vgy.me/98k8pD.png') "Host";
		white-space: pre;
		font-size: 10pt;
		display: block;
		margin-top: 50px;
		color: #0000FF;
		font-weight: bold;
		cursor: text;
}
[data-cid^="3680307-"] .msg .from .un {
		position: relative;
		left: -1px;
		padding-left: 18px;
		background-image: url('https://vgy.me/bSEc6J.gif');
		background-repeat: no-repeat;
		background-position: -1px center;
		background-size: 16px auto;
}
#chat [data-cid^="3680307-"] .bdg {
		background: url('https://vgy.me/AWNM7U.gif') !important;
		background-position: 0px 0px;
}
